* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#273940, #5a6c73) no-repeat;
  height: 100vh;
}
.container {
  margin: auto;
}

h1 {
  color: #f2f2f2;
  text-align: center;
}

.nav {
  background: rgba(255, 255, 255, 0.05);
  height: 70px;
  display: flex;
  align-items: center;
}

a {
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: rgb(240, 147, 60);
}

.nav-log {
  margin-left: auto;
  margin-right: 10px;
}

.title-login {
  text-align: center;
  padding-top: 50px;
  color: #f2f2f2;
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.form-login__input,
.form-register__input {
  width: 180px;
  height: 30px;
  border: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 10px;
  -webkit-transition: width 0.30s ease-in-out;
  transition: width 0.30s ease-in-out;
}

.form-login__input:focus {
  width: 250px;
}

.form-login__button,
.form-register__button {
  width: 180px;
  height: 30px;
  border: none;
  border: 1px solid #baa;
  border-radius: 5px;
  background: #bba;
  cursor: pointer;
}

.form-login__button:hover,
.form-register__button:hover {
  background-color: #baa;
}

.account-info {
  color: #f2f2f2;
  margin-top: 20px;
}

.redirect {
  color: rgb(241, 160, 83);
}

.redirect:hover {
  color: rgb(241, 131, 28);
}
