* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #252222;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
}

h1 {
  color: #e1e1e1;
  text-align: center;
}

.nav {
  background: rgba(255, 255, 255, 0.05);
  height: 70px;
  display: flex;
  align-items: center;
}

a {
  color: #e1e1e1;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #8574ed;
}

.nav-log {
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
}

.nav-reg {
  font-weight: bold;
}

.home-element {
  font-weight: bold;
}

.title-login {
  text-align: center;
  padding-top: 50px;
  color: #e1e1e1;
}

.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.form-login__input,
.form-register__input {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  color: #e1e1e1;
  border-bottom: 0.5px solid #fff;
  margin-bottom: 10px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.form-login__input:focus,
.form-register__input:focus {
  width: 250px;
}

.form-login__button,
.form-register__button {
  width: 100px;
  height: 30px;
  border: none;
  border: 1px solid #8574ed;
  border-radius: 5px;
  background: #8574ed;
  cursor: pointer;
  color: #e1e1e1;
  font-weight: bold;
}

.form-login__button:hover,
.form-register__button:hover {
  background-color: #7764f5;
}

.account-info {
  color: #e1e1e1;
  margin-top: 20px;
}

.redirect {
  color: #8574ed;
}

.redirect:hover {
  color: #7764f5;
}
